<div class="container mt-5 col-12 d-flex gap-2">
  <mat-card class="col-4 d-flex justify-content-between">
    <div class="col-12 d-flex justify-content-start flex-column">
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary"
        *ngIf="(localStorageService.userIdValue | async) as userIdValue"
        routerLink="../../reporting/activity/{{ userIdValue }}">
        {{ "adminDashboard.activities" | translate }}
        <mat-icon>{{icons.event_note}}</mat-icon>
      </button>
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary" routerLink="../../reporting/user">
        {{ "adminDashboard.users" | translate }}
        <mat-icon>{{icons.person}}</mat-icon>
      </button>
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary" routerLink="../../reporting/customer">
        <mat-icon>{{icons.people}}</mat-icon>
        {{ "adminDashboard.customers" | translate }}
      </button>
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary" routerLink="../../reporting/project">
        <mat-icon>{{icons.list_alt}}</mat-icon>
        {{ "adminDashboard.projects" | translate }}
      </button>
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary" routerLink="../../reporting/invoice">
        <mat-icon>{{icons.assignment_turned_in}}</mat-icon>
        {{ "adminDashboard.invoices" | translate }}
      </button>
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary" routerLink="../../reporting/user-reporting">
        <mat-icon>{{icons.timelapse}}</mat-icon>
        {{ "adminDashboard.reporting" | translate }}
      </button>
      <button mat-raised-button class="col-12 mt-2 py-4" color="primary" routerLink="../../reporting/rate">
        <mat-icon>{{icons.money}}</mat-icon>
        {{ "adminDashboard.rates" | translate }}
      </button>
    </div>
    <div class="col-12">
      <button class="col-12" color="accent" mat-raised-button>{{ 'adminDashboard.logOut' | translate }}</button>
    </div>
  </mat-card>
  <mat-card class="col-8">
    <app-month-view></app-month-view>
  </mat-card>
</div>