.mat-form-field
  justify-self: center

  .mat-input-element
    color: white

.mat-card
  width: 33%
  margin: 0 auto
  margin-top: 5em
  padding: 3em
  display: flex
  flex-direction: column
  justify-content: center

a
  margin-left: 1%
  color: white

.mat-card-actions
  width: 100%
  margin: auto

.mat-raised-button
  width: 100%
  margin: 0!important
  margin-top: 10%!important
  align-self: center
