@import 'src/styles/custom_theme.sass'
@import 'src/styles/mixins.sass'
@import 'src/styles/variables.sass'
.mat-form-field
  justify-self: center
  width: $full-width

  .mat-input-element
    color: $rsasoft-white

.mat-card
  width: 33vw
  margin: 0 auto
  margin-top: 5em
  height: fit-content
  padding: 3em
  display: flex
  flex-direction: column
  justify-content: center

  .mat-card-title
    text-align: center

  .mat-card-actions
    width: $full-width
    margin: auto

  .mat-card-content
    margin-top: 10%

a
  margin-left: 1%
  color: $rsasoft-white

.mat-raised-button
  @include mat-raised-button


@media (max-width: $media-query-820px)

  .mat-card
    width: 85%
    padding: 1em
    padding-top: 3em
    padding-bottom: 3em
    margin-top: 10vh

  .forgot-password-button
    margin-top: 3em

  .mat-card-title
    margin-top: 2em

@media (max-width: $media-query-400px)

  .mat-card
    width: 80%
    padding: 1em
    padding-top: 2em
    padding-bottom: 2em

  .forgot-password-button
    margin-top: 5%

  .mat-raised-button
    width: $full-width
    margin: 0!important
    margin-top: 5%!important
    align-self: center
