<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        #userEmail
        matInput
        #email="ngModel"
        type="email"
        [(ngModel)]="user.email"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Email"
        class="form-control"
      />
      <mat-hint style="color: red" *ngIf="!user.email">
        Email is required
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        #userPassword
        matInput
        type="password"
        [(ngModel)]="user.password"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Password"
        class="form-control"
      />
      <mat-hint style="color: red" *ngIf="!user.password">
        Password is required
      </mat-hint>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <a
      [routerLink]="['/auth/resetpassword']"
      routerLinkActive="router-link-active"
      >Forgotten Password</a
    >
    <button mat-raised-button color="primary" (click)="logUserIn(user)">
      Log in
    </button>
  </mat-card-actions>
</mat-card>
