<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          required=""
        />
        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="email?.errors?.['required']">Email is required.</div>
          <div *ngIf="email?.errors?.['email']">Email is not valid.</div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          placeholder="Password"
          class="form-control"
        />
        <mat-hint style="color: red" *ngIf="!user.password">
          Password is required
        </mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <a
      [routerLink]="['/auth/resetpassword']"
      routerLinkActive="router-link-active"
      >Forgotten Password</a
    >
    <button mat-raised-button color="primary" (click)="logUserIn(user)">
      Log in
    </button>
  </mat-card-actions>
</mat-card>
