<div class="dialog-container">
  <mat-dialog-content>
    <mat-card-title>Duplicate Activity</mat-card-title>

    <mat-card class="secondary-card">
      <mat-card-title>{{ currentActivity?.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ currentActivity?.start }} -
        {{ currentActivity?.end }}</mat-card-subtitle
      >
      <p>{{ currentActivity?.description }}</p>
      <p>{{ currentActivity?.extras }}</p>
    </mat-card>

    <mat-form-field appearance="fill" *ngIf="range">
      <mat-label>Select date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="duplicateActivitiesToSelectedRange()"
    >
      Duplicate activity
    </button>
  </mat-dialog-content>
</div>
