<!-- TODO standardize modals with header and actions -->
<!-- dialog header with x button -->
<div class="d-flex flex-row-reverse">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>{{ icons.close }}</mat-icon>
  </button>
</div>

<!-- dialog title -->
<h2 mat-dialog-title align="center" class="p-0">
  {{ "duplicate.dialog.title" | translate }}
</h2>

<!-- activity card -->
<mat-dialog-content>
  @if(activity) {
  <app-entity-item
    [title]="activity?.name"
    subtitle="{{ activity.start | date : 'shortTime' }} - {{
      activity.end | date : 'shortTime'
    }} {{ activity.workedTime | workedTime }}"
    [chips]="
      activity?.project?.projectName
        ? activity?.project?.projectName
        : ('activity.shared.other' | translate)
    "
    [nestedCard]="true"
  ></app-entity-item>
  }

  <mat-form-field appearance="fill" class="col-12">
    <mat-label>
      {{ "duplicate.dialog.selectDateRange" | translate }}
    </mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        name="startDate"
        #startDateInput
        [ngModel]="startDate()"
        (ngModelChange)="startDate.set($event)"
        matStartDate
        placeholder="{{ 'duplicate.dialog.startDate' | translate }}"
      />
      <input
        name="endDate"
        #endDateInput
        [ngModel]="endDate()"
        (ngModelChange)="endDate.set($event)"
        matEndDate
        placeholder="{{ 'duplicate.dialog.endDate' | translate }}"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center" class="gap-2 pb-4">
  <button
    mat-raised-button
    color="accent"
    type="submit"
    [mat-dialog-close]="{
      startDate: startDate(),
      endDate: endDate(),
      activity
    }"
  >
    {{ "duplicate.dialog.title" | translate }}
  </button>
  <button mat-raised-button mat-dialog-close>
    {{ "shared.modal.cancel" | translate }}
  </button>
</mat-dialog-actions>
