<mat-card-title class="page-title">
  {{ user?.name }} {{ user?.surname }}
</mat-card-title>

<div class="header-activity">
  <mat-form-field appearance="fill" class="header-datepicker">
    <input
      matInput
      [matDatepicker]="datePicker"
      [(ngModel)]="selectedDate"
      (dateChange)="dateChanges()"
    />
    <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #datePicker touchUi></mat-datepicker>
  </mat-form-field>

  <div class="right-side">
    <mat-card class="time-booked-card">
      <mat-card-subtitle
        >Time booked: <strong>{{ totalTimeBooked }}</strong></mat-card-subtitle
      >
    </mat-card>

    <button
      class="header-add-button"
      mat-raised-button
      (click)="addNewActivity()"
    >
      <mat-icon color="accent">add_box</mat-icon>
    </button>
  </div>
</div>

<mat-card *ngIf="user" class="card-container">
  <mat-card-title *ngIf="daySelected" i18n="@@activity-page-title"
    >Activities of selected day</mat-card-title
  >

  <mat-card
    class="secondary-card"
    *ngFor="let activity of sortActivitiesByStart(activitiesOfTheDay)"
  >
    <mat-card-title>{{ activity.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ activity.start }} - {{ activity.end }}</mat-card-subtitle
    >
    <mat-card-content>
      {{ activity.description }}
      <mat-chip-list class="project-chip-list">
        <div>
          <mat-chip
            >{{
              activity.projectId!
                | customerfromprojectid: allProjects!:allCustomers!
            }}
            - {{ activity.projectId! | projectid: allProjects! }}</mat-chip
          >
        </div>
      </mat-chip-list>
    </mat-card-content>

    <mat-card-actions class="custom-card-actions" align="end">
      <button mat-button color="accent" (click)="editActivity(activity)">
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-raised-button
        color="accent"
        (click)="deleteActivity(activity)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button color="accent" (click)="duplicateActivity(activity)">
        <mat-icon>control_point_duplicate</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <button class="secondary-card" mat-raised-button (click)="addNewActivity()">
    <mat-icon color="accent">add_box</mat-icon>
  </button>
</mat-card>
