@import 'src/styles/variables.sass'

.content-container
  background-color: $rsasoft-layer1-card-color
.top-button
  height: 58px
  cursor: pointer
  border-radius: 7px
.add-button-card
  background: $rsasoft-layer2-card-color !important
