<div class="d-lg-flex">
  <div class="row col-12 col-lg-6 mb-lg-0 mx-0 px-0 mb-2 pe-lg-2">
    <mat-form-field class="col-12 mx-0 px-0 col-md-8 col-lg-6" appearance="fill">
      <input matInput [matDatepicker]="datePicker" [(ngModel)]="selectedDate" (dateChange)="dateChanges()" />
      <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datePicker touchUi></mat-datepicker>
    </mat-form-field>
    <div class="col-12 mx-0 px-0 col-md-4 ps-md-4 col-lg-6">
      <mat-card class="col-12 text-center" [ngStyle]="{ 'background-color': timeBookedContainerColor }">
        <mat-card-subtitle class="px-0 py-0">{{ "activity.page.timeBooked" | translate }}
          <strong>{{ totalTimeBooked }}</strong>/<strong>{{ currentEmployeeCommitment }}</strong></mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class="row mx-0 px-0 mb-2 col-lg-6 ps-lg-2">
    <div class="col-12 mx-0 px-0 col-md-8 col-lg-6">
      <mat-form-field class="col-12 align-self-center" appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="setValueOfSelectedProject($event)" [(ngModel)]="selectedFilterProjectId">
          <mat-option [value]="'all'"> All projects </mat-option>
          <mat-option *ngFor="let project of allProjects" [value]="project.id" required="true" ngDefaultControl>
            {{ project.projectName }}
          </mat-option>
        </mat-select></mat-form-field>
    </div>
    <div class="col-12 mx-0 px-0 col-md-4 ps-md-2 col-lg-6 d-flex gap-1 justify-content-center">
      <div class="top-button content-container col-6 col-sm-6 d-flex justify-content-center"
        (click)="deleteAllActivitiesOfUserDay()">
        <mat-icon class="align-self-center" color="accent">{{icons.delete_forever}}</mat-icon>
      </div>

      <div class="top-button content-container col-6 col-sm-6 d-flex justify-content-center" (click)="addNewActivity()">
        <mat-icon class="align-self-center" color="accent">{{icons.add_box}}</mat-icon>
      </div>
    </div>
  </div>
</div>

<div class="container mx-0 px-0">
  <mat-card class="content-container" *ngIf="activitiesOfTheDay.length < 1">
    <mat-card class="entity-card">
      <mat-card-title>{{ 'activityPage.noActivities' | translate }}</mat-card-title>
    </mat-card>
  </mat-card>
</div>
<div class="container mx-0 px-0 mb-2">
  <mat-card class="container content-container mb-2" *ngFor="let project of projectsOfCurrentDayAndActivities">
    <div class="row col-12 text-start mt-2 mx-0 px-0 mb-4">
      <mat-card-title class="col-12 mx-0 px-0">{{
        project.projectId | projectid : allProjects!
        }}</mat-card-title>
    </div>
    <div class="row mx-0 px-0">
      <mat-card class="entity-card mx-0 mb-2" *ngFor="let activity of project.activitiesWithProjectId">
        <mat-card-title>{{ activity.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ activity.start }} - {{ activity.end }}</mat-card-subtitle>
        <mat-card-content>
          {{ activity.description }}
          <mat-chip-set *ngIf="activity.projectId !== null && activity.projectId !== ''">
            <div>
              <mat-chip>{{
                activity.projectId!
                | customerfromprojectid : allProjects! : allCustomers!
                | shorten
                }}
              </mat-chip>
            </div>
          </mat-chip-set>
          <mat-chip-set *ngIf="
              activity.projectId === undefined || activity.projectId === null
            ">
            <mat-chip> Internal </mat-chip>
          </mat-chip-set>
        </mat-card-content>

        <mat-card-actions class="row mx-0 mt-0 mb-0 pt-0 pb-0 px-0 col-12 justify-content-end d-flex">
          <button mat-icon-button class="col-2 col-lg-1 mx-0 px-0" color="accent" (click)="editActivity(activity)">
            <mat-icon color="accent">{{icons.edit}}</mat-icon>
          </button>

          <button mat-icon-button color="accent" class="col-2 col-lg-1 mx-0 px-0" (click)="duplicateActivity(activity)">
            <mat-icon color="accent">{{icons.control_point_duplicate}}</mat-icon>
          </button>
          <button mat-icon-button class="col-2 col-lg-1 mx-0 px-0" color="accent" (click)="deleteActivity(activity)">
            <mat-icon color="accent">{{icons.delete}}</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="row col-12 mx-0 px-0 d-flex justify-content-center">
      <button class="col-12" mat-icon-button (click)="addActivityOnCertainProject(project.projectId)">
        <mat-icon color="accent">{{icons.add_box}}</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
<div class="container mx-0 px-0">
  <mat-card *ngIf="activitiesWithNoProject?.length !== 0">
    <div class="row col-12 text-start mx-0 px-0"></div>
    <mat-card-title class="col-12 mx-0 px-0 mb-3 mt-2"> Other </mat-card-title>
    <mat-card class="mb-2" *ngFor="let activity of activitiesWithNoProject">
      <mat-card-title>{{ activity.name }}</mat-card-title>
      <mat-card-subtitle>
        {{ activity.start }} - {{ activity.end }}</mat-card-subtitle>

      <mat-card-actions class="row mx-0 mt-0 mb-0 pt-0 pb-0 px-0 col-12 justify-content-end d-flex">
        <button mat-icon-button class="col-2 col-lg-1 mx-0 px-0" color="accent" (click)="editActivity(activity)">
          <mat-icon>{{icons.edit}}</mat-icon>
        </button>

        <button mat-icon-button color="accent" class="col-2 col-lg-1 mx-0 px-0" (click)="duplicateActivity(activity)">
          <mat-icon>{{icons.control_point_duplicate}}</mat-icon>
        </button>
        <button mat-icon-button class="col-2 col-lg-1 mx-0 px-0" color="accent" (click)="deleteActivity(activity)">
          <mat-icon>{{icons.delete}}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="row mx-0 d-flex justify-content-center">
      <button class="col-12 add-button-card" mat-icon-button (click)="addNewActivity()">
        <mat-icon color="accent">{{icons.add_box}}</mat-icon>
      </button>
    </div>
  </mat-card>
  <div class="col-12 d-flex flex-row-reverse">
    <button mat-icon-button class="col-1 mx-1" (click)="nextDayPage()">
      <mat-icon color="accent">{{icons.keyboard_arrow_right}}</mat-icon>
    </button>
    <button mat-icon-button class="col-1 mx-1" (click)="prevDayPage()">
      <mat-icon color="accent">{{icons.keyboard_arrow_left}}</mat-icon>
    </button>
  </div>
</div>