@import 'src/styles/variables.sass'
.entity-card
  background-color: $rsasoft-layer2-card-color
.content-container
  background-color: $rsasoft-layer1-card-color
.booked-time-font
  font-size: 11px
