<div class="container mt-4 mx-0 px-0">
  <div class="row text-start mb-3">
    <mat-card-title> {{ user?.name }} {{ user?.surname }}</mat-card-title>
  </div>
</div>

<div class="container mx-0 px-0 d-lg-flex">
  <div class="row col-12 col-lg-6 mb-lg-0 mx-0 px-0 mb-2 pe-lg-2">
    <mat-form-field
      class="col-12 mx-0 px-0 col-md-8 col-lg-6"
      appearance="fill"
    >
      <input
        matInput
        [matDatepicker]="datePicker"
        [(ngModel)]="selectedDate"
        (dateChange)="dateChanges()"
      />
      <mat-datepicker-toggle
        [for]="datePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker touchUi></mat-datepicker>
    </mat-form-field>
    <div class="col-12 mx-0 px-0 col-md-4 ps-md-4 col-lg-6">
      <mat-card
        class="col-12 text-center"
        [ngStyle]="{ 'background-color': timeBookedContainerColor }"
      >
        <mat-card-subtitle
          >{{ "activity.page.timeBooked" | translate }} <strong>{{ totalTimeBooked }}</strong
          >/<strong>{{ currentEmployeeCommitment }}</strong></mat-card-subtitle
        >
      </mat-card>
    </div>
  </div>
  <div class="row mx-0 px-0 mb-2 col-lg-6 ps-lg-2">
    <div class="col-12 mx-0 px-0 col-md-8 col-lg-6">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select
          (selectionChange)="setValueOfSelectedProject($event)"
          [(ngModel)]="selectedFilterProjectId"
        >
          <mat-option [value]="'all'"> All projects </mat-option>
          <mat-option
            *ngFor="let project of allProjects"
            [value]="project.id"
            required="true"
            ngDefaultControl
          >
            {{ project.projectName }}
          </mat-option>
        </mat-select></mat-form-field
      >
    </div>
    <div class="col-12 mx-0 px-0 col-md-4 ps-md-4 col-lg-6">
      <button class="col-12 p-2" mat-raised-button (click)="addNewActivity()">
        <mat-icon color="accent">add_box</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="container mx-0 px-0">
  <mat-card class="content-container" *ngIf="activitiesOfTheDay.length < 1">
    <mat-card class="entity-card">
      <mat-card-title
        >You have not reported any activities for this day yet.</mat-card-title
      >
    </mat-card>
  </mat-card>
</div>
<div class="container mx-0 px-0 mb-2">
  <mat-card
    class="container content-container mb-2"
    *ngFor="let project of projectsOfCurrentDayAndActivities"
  >
    <div class="row col-12 text-start mt-2 mx-0 px-0 mb-4">
      <mat-card-title class="col-12 mx-0 px-0">{{
        project.projectId | projectid: allProjects!
      }}</mat-card-title>
    </div>
    <div class="row mx-0 px-0">
      <mat-card
        class="entity-card mx-0 mb-2"
        *ngFor="let activity of project.activitiesWithProjectId"
      >
        <mat-card-title>{{ activity.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ activity.start }} - {{ activity.end }}</mat-card-subtitle
        >
        <mat-card-content>
          {{ activity.description }}
          <mat-chip-list
            *ngIf="activity.projectId !== null && activity.projectId !== ''"
          >
            <div>
              <mat-chip
                >{{
                  activity.projectId!
                    | customerfromprojectid: allProjects!:allCustomers!
                }}
                {{ activity.projectId! | projectid: allProjects! }}</mat-chip
              >
            </div>
          </mat-chip-list>
          <mat-chip-list
            *ngIf="
              activity.projectId === undefined || activity.projectId === null
            "
          >
            <mat-chip> Internal </mat-chip>
          </mat-chip-list>
        </mat-card-content>

        <mat-card-actions
          class="row mx-0 mt-0 mb-0 pt-0 pb-0 px-0 col-12 justify-content-end d-flex"
        >
          <button
            mat-button
            class="col-2 col-lg-1 mx-0 px-0"
            color="accent"
            (click)="editActivity(activity)"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-button
            color="accent"
            class="col-2 col-lg-1 mx-0 px-0"
            (click)="duplicateActivity(activity)"
          >
            <mat-icon>control_point_duplicate</mat-icon>
          </button>
          <button
            mat-raised-button
            class="col-2 col-lg-1 mx-0 px-0"
            color="accent"
            (click)="deleteActivity(activity)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="row col-12 mx-0 px-0">
      <button
        class="entity-card col-12"
        mat-raised-button
        (click)="addActivityOnCertainProject(project.projectId)"
      >
        <mat-icon color="accent">add_box</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
<div class="container mx-0 px-0">
  <mat-card *ngIf="activitiesWithNoProject?.length !== 0">
    <div class="row col-12 text-start mx-0 px-0"></div>
    <mat-card-title class="col-12 mx-0 px-0 mb-3 mt-2"> Other </mat-card-title>
    <mat-card
      class="entity-card mb-2"
      *ngFor="let activity of activitiesWithNoProject"
    >
      <mat-card-title>{{ activity.name }}</mat-card-title>
      <mat-card-subtitle>
        {{ activity.start }} - {{ activity.end }}</mat-card-subtitle
      >

      <mat-card-actions
        class="row mx-0 mt-0 mb-0 pt-0 pb-0 px-0 col-12 justify-content-end d-flex"
      >
        <button
          mat-button
          class="col-2 col-lg-1 mx-0 px-0"
          color="accent"
          (click)="editActivity(activity)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-button
          color="accent"
          class="col-2 col-lg-1 mx-0 px-0"
          (click)="duplicateActivity(activity)"
        >
          <mat-icon>control_point_duplicate</mat-icon>
        </button>
        <button
          mat-raised-button
          class="col-2 col-lg-1 mx-0 px-0"
          color="accent"
          (click)="deleteActivity(activity)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="row col-12 mx-0 px-0">
      <button
        class="entity-card col-12"
        mat-raised-button
        (click)="addNewActivity()"
      >
        <mat-icon color="accent">add_box</mat-icon>
      </button>
    </div>
  </mat-card>
  <div class="col-12 d-flex flex-row-reverse">
    <button mat-raised-button class="col-1" (click)="nextDayPage()"><mat-icon color="accent">keyboard_arrow_right</mat-icon></button>
    <button mat-raised-button class="col-1 mx-1" (click)="prevDayPage()"><mat-icon color="accent">keyboard_arrow_left</mat-icon></button>
  </div>
</div>
