<div class="dialog-container">
  <mat-card-title i18n="@@invoice-dialog-title"
    >Set data for invoice</mat-card-title
  >
  <form [formGroup]="invoiceForm!">
    <mat-form-field appearance="fill">
      <mat-label>Invoice Number</mat-label>
      <input
        matInput
        formControlName="invoiceNumber"
        type="text"
        placeholder="Example: 1234"
      />
      <mat-hint
        *ngIf="
          !invoiceNumber?.valid &&
          (invoiceNumber?.touched || invoiceNumber?.dirty)
        "
        >The invoice number is required.</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Euro Exchange</mat-label>
      <input
        matInput
        placeholder="Example: 4.97, 4.9283"
        formControlName="euroExchange"
        type="text"
      />

      <mat-hint
        *ngIf="
          !euroExchange?.valid && (euroExchange?.touched || euroExchange?.dirty)
        "
        >Enter a value like 4.98 or 4.92394</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="header-datepicker">
      <mat-label>Invoice Emmitting Day</mat-label>
      <input
        matInput
        [matDatepicker]="datePicker"
        [(ngModel)]="selectedDate"
        (dateInput)="OnDateChange($event.value)"
        ngDefaultControl
      />
      <mat-datepicker-toggle
        [for]="datePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker touchUi></mat-datepicker>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    color="accent"
    (click)="downloadPDF()"
    i18n="@@invoice-dialog-pdf-button"
  >
    Download PDF
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="downloadXLSX()"
    i18n="@@invoice-dialog-xlsx-button"
  >
    Download XLSX
  </button>
</div>
