<div class="container mx-0 px-0">
  <mat-dialog-content class="container mx-0 px-0 col-12">
    <div class="row col-12 mx-0 px-0">
      <div class="col-8 mx-0 px-0">
        <div
          class="col-12 text-start align-items-center mx-0 px-0 mb-0 pb-0 py-3"
        >
          <mat-card-title class="mx-0 px-0">{{
            "invoice.dialog.title" | translate
          }}</mat-card-title>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end mx-0 px-0 pt-1">
        <button mat-icon-button class="col-12" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <form
      class="container mt-2 mx-0 px-0 col-12 pb-5"
      [formGroup]="invoiceForm!"
    >
      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>{{
            "invoice.dialog.invoiceNumber" | translate
          }}</mat-label>
          <input
            matInput
            formControlName="invoiceNumber"
            type="text"
            placeholder="Example: 1234"
          />
          <mat-hint
            *ngIf="
              !invoiceNumber?.valid &&
              (invoiceNumber?.touched || invoiceNumber?.dirty)
            "
            >{{ "invoice.dialog.invoiceNumberHint" | translate }}</mat-hint
          >
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0" *ngIf="romanianCustomer">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>{{ "invoice.dialog.euroExchange" | translate }}</mat-label>
          <input
            matInput
            placeholder="Example: 4.97, 4.9283"
            formControlName="euroExchange"
            type="text"
          />

          <mat-hint
            *ngIf="
              !euroExchange?.valid &&
              (euroExchange?.touched || euroExchange?.dirty)
            "
            >{{ "invoice.dialog.euroExchangeHint" | translate }}</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>{{
            "invoice.dialog.invoiceEmittingDay" | translate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            [(ngModel)]="selectedDate"
            (dateInput)="OnDateChange($event.value)"
            ngDefaultControl
          />
          <mat-datepicker-toggle
            [for]="datePicker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker touchUi></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row col-12 mx-0 px-0">
        <button mat-raised-button color="accent" (click)="downloadPDF()">
          {{ "invoice.dialog.downloadPDF" | translate }}
        </button>
      </div>

      <div class="row col-12 mx-0 px-0 mt-2 pb-3">
        <button mat-raised-button color="accent" (click)="downloadXLSX()">
          {{ "invoice.dialog.downloadXLSX" | translate }}
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
