<div class="dialog-container">
  <mat-card-title>{{ "invoice.dialog.title" | translate }}</mat-card-title>
  <form [formGroup]="invoiceForm!" class="form-invoice">
    <mat-form-field appearance="fill">
      <mat-label>{{ "invoice.dialog.invoiceNumber" | translate }}</mat-label>
      <input
        matInput
        formControlName="invoiceNumber"
        type="text"
        placeholder="Example: 1234"
      />
      <mat-hint
        *ngIf="
          !invoiceNumber?.valid &&
          (invoiceNumber?.touched || invoiceNumber?.dirty)
        "
        >{{ "invoice.dialog.invoiceNumberHint" | translate }}</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "invoice.dialog.euroExchange" | translate }}</mat-label>
      <input
        matInput
        placeholder="Example: 4.97, 4.9283"
        formControlName="euroExchange"
        type="text"
      />

      <mat-hint
        *ngIf="
          !euroExchange?.valid && (euroExchange?.touched || euroExchange?.dirty)
        "
        >{{ "invoice.dialog.euroExchangeHint" | translate }}4</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="header-datepicker">
      <mat-label>{{
        "invoice.dialog.invoiceEmittingDay" | translate
      }}</mat-label>
      <input
        matInput
        [matDatepicker]="datePicker"
        [(ngModel)]="selectedDate"
        (dateInput)="OnDateChange($event.value)"
        ngDefaultControl
      />
      <mat-datepicker-toggle
        [for]="datePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker touchUi></mat-datepicker>
    </mat-form-field>
  </form>

  <button mat-raised-button color="accent" (click)="downloadPDF()">
    {{ "invoice.dialog.downloadPDF" | translate }}
  </button>
  <button mat-raised-button color="accent" (click)="downloadXLSX()">
    {{ "invoice.dialog.downloadXLSX" | translate }}
  </button>
</div>
