
@for (bookedDay of monthYearReport() | keyvalue; track $index) {
@if(bookedDay?.value?.activities.length > 0){
<div class="d-flex flex-row justify-content-start mt-2">
  <mat-card-title>{{ bookedDay.key | date }}</mat-card-title>
  <mat-card-title class="ms-3" [ngClass]="{
        green: (bookedDay.value.timeBooked | convertTimeToHours) >= bookedDay.value.expectedHours,
        orange: (bookedDay.value.timeBooked | convertTimeToHours) > 0 && (bookedDay.value.timeBooked | convertTimeToHours) < bookedDay.value.expectedHours
      }">
    {{ bookedDay.value.timeBooked | time }} / {{ bookedDay.value.expectedHours }}h
  </mat-card-title>
</div>
@for (activity of bookedDay.value.activities; track $index) {
<div class="d-flex flex-column row-gap-3">
  <app-entity-item class="mb-3" [title]="activity?.name" subtitle="{{ activity?.start | date : 'shortTime' }} - {{
      activity?.end | date : 'shortTime'
    }} {{ activity?.workedTime | workedTime }}" [chips]="[
      activity?.project
        ? activity?.project?.projectName
        : ('activity.shared.other' | translate),
      activity?.user?.name + ' ' + activity?.user?.surname
    ]">
    <mat-card-actions actions align="end">
      <button mat-icon-button aria-label="Edit activity button" type="button"
        (click)="editActivityOfDateEmit(activity, bookedDay.key)">
        <mat-icon color="accent">{{ icons.edit }}</mat-icon>
      </button>
      <button mat-icon-button aria-label="Delete activity button" type="button"
        (click)="deleteActivityOfDateEmit(activity, bookedDay.key)">
        <mat-icon color="accent">{{ icons.delete }}</mat-icon>
      </button>
    </mat-card-actions>
  </app-entity-item>
</div>
}
<button mat-raised-button class="add-entity-button d-flex flex-column mx-auto mt-3" aria-label="Create activity button"
  type="button" (click)="addActivityToDateEmit(bookedDay.key)">
  <mat-icon color="accent" class="mx-0">{{ icons.add_box }}</mat-icon>
</button>
}
}