@for (bookedDay of bookedDays(); track $index) { @if
(!allUsersHaveNoActivities(bookedDay)) {
<div class="d-flex flex-row justify-content-start mt-4">
  <mat-card-subtitle>{{ bookedDay.date | date }}</mat-card-subtitle>
  <mat-card-subtitle
    class="ms-3"
    [ngClass]="{
      green:
        convertTimeToHours(bookedDay.timeBooked) === bookedDay.expectedHours,
      orange:
        convertTimeToHours(bookedDay.timeBooked) > 0 &&
        convertTimeToHours(bookedDay.timeBooked) < bookedDay.expectedHours,
    }"
  >
    {{ bookedDay.timeBooked | time }} / {{ bookedDay.expectedHours }}h
  </mat-card-subtitle>
</div>

} @for (bookedUser of bookedDay.usersTimeBooked; track $index) { @if
(bookedUser.user.activities.length > 0) { @for (activity of
bookedUser.user.activities; track $index) {
<div class="d-flex flex-column row-gap-3">
  <app-entity-item
    class="mb-3"
    [title]="activity.name"
    subtitle="{{ activity.start | date : 'shortTime' }} - {{
      activity.end | date : 'shortTime'
    }} {{ activity.workedTime | workedTime }}"
    [chips]="[
      activity?.project?.projectName
        ? activity?.project?.projectName
        : ('activity.shared.other' | translate),
      bookedUser.user.user.name + ' ' + bookedUser.user.user.surname
    ]"
  >
    <mat-card-actions actions align="end">
      <button
        (click)="editActivity(activity)"
        mat-icon-button
        aria-label="Edit activity button"
        type="button"
      >
        <mat-icon color="accent">{{ icons.edit }}</mat-icon>
      </button>
      <button
        (click)="deleteActivity(activity.id)"
        mat-icon-button
        aria-label="Delete activity button"
        type="button"
      >
        <mat-icon color="accent">{{ icons.delete }}</mat-icon>
      </button>
    </mat-card-actions>
  </app-entity-item>
</div>
}
<button
  mat-raised-button
  class="add-entity-button d-flex flex-column mx-auto mt-3"
  aria-label="Create activity button"
  type="button"
  (click)="addActivity(bookedDay)"
>
  <mat-icon color="accent" class="mx-0">{{ icons.add_box }}</mat-icon>
</button>
} } }
