<div class="position-sticky fixed-top">
  <mat-toolbar color="primary" class="d-flex justify-content-center">
    <div class="container d-flex flex-row">

      <button *ngIf="currentUserId" mat-icon-button (click)="toggleSidenav.emit()"
        class="d-xl-none d-lg-none d-md-flex d-sm-flex d-flex">
        <mat-icon>{{ icons.menu }}</mat-icon>
      </button>

      <h3 class="my-auto" *ngIf="pageTitle">{{ pageTitle | titlecase }}</h3>

      <span class="flex-grow-1"></span>

      <app-initials-icon [matMenuTriggerFor]="menu" *ngIf="currentUser" [matMenuTriggerData]="{ user: currentUser }"
        class="my-auto border rounded-circle pointer-cursor" [user]="currentUser"></app-initials-icon>

    </div>

    <mat-menu #menu="matMenu" class="px-2 pt-3 pb-0" xPosition="before">
      <ng-template matMenuContent let-user="user">
        <app-user-navigation *ngIf="user" [user]="user" (logOut)="authService.doLogout()"></app-user-navigation>
      </ng-template>
    </mat-menu>
  </mat-toolbar>
</div>