<div class="row position-sticky fixed-top top-0 w-100">
    <mat-toolbar color="primary">
        <button *ngIf="hasToken === true && hasToken !== undefined" mat-icon-button (click)="toggleSidenav.emit()">
            <mat-icon>{{ icons.menu }}</mat-icon>
        </button>
        <h3>{{ pageTitle | titlecase }}</h3>
        <span class="spacer"></span>
        <app-initials-icon [matMenuTriggerFor]="menu" *ngIf="hasToken === true && hasToken !== undefined && currentUser"
            [matMenuTriggerData]="{user: currentUser}" class="border rounded-circle"
            [user]="currentUser"></app-initials-icon>
        <mat-menu #menu="matMenu" class="px-2 pt-3 pb-0">
            <ng-template matMenuContent let-user="user">
                <app-user-navigation *ngIf="user" [user]="user"
                    (logOut)="service.doLogout(); currentUser=null"></app-user-navigation>
            </ng-template>
        </mat-menu>
    </mat-toolbar>
</div>