<div class="container mx-0 px-0">
  <mat-dialog-content
    class="container mx-0 px-0 col-12"
    *ngIf="currentProject && this.currentProjectToUpdate === null"
  >
    <div class="row col-12 mx-0 px-0">
      <div class="col-8 mx-0 px-0">
        <mat-card-title
          class="col-12 text-start align-items-center mx-0 px-0 mb-0 pb-0 py-3"
          >Add Project</mat-card-title
        >
      </div>

      <div class="col-4 d-flex justify-content-end mx-0 px-0 pt-1">
        <button mat-icon-button class="col-12" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <form
      class="container mt-2 mx-0 px-0 col-12"
      [formGroup]="addProjectForm!"
      (keyup.enter)="checkAndAdd()"
    >
      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Project Name</mat-label>
          <input
            matInput
            [(ngModel)]="currentProject.projectName"
            type="text"
            formControlName="name"
            required="true"
          />
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Customer name</mat-label>
          <mat-select [(ngModel)]="selectedItem" formControlName="customerName">
            <mat-option
              *ngFor="let customer of customers"
              [value]="customer.id"
              ngDefaultControl
            >
              {{ customer.customerName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Project Contract</mat-label>
          <input
            matInput
            [(ngModel)]="currentProject.contract"
            formControlName="contract"
            type="text"
          />
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Due date</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            [(ngModel)]="selectedDate"
            [ngModelOptions]="{ standalone: true }"
          />
          <mat-datepicker-toggle
            [for]="datePicker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Contract Sign Date</mat-label>
          <input
            matInput
            [matDatepicker]="datePickerContractSign"
            [(ngModel)]="contractSignDate"
            [ngModelOptions]="{ standalone: true }"
          />
          <mat-datepicker-toggle
            [for]="datePickerContractSign"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #datePickerContractSign touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Project Invoice Term</mat-label>
          <input
            matInput
            [(ngModel)]="currentProject.invoiceTerm"
            formControlName="invoiceTerm"
            type="text"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="currentProjectToUpdate === null">
    <div class="row col-12 mx-0 px-0">
      <button mat-raised-button color="accent" (click)="checkAndAdd()">
        Add project
      </button>
    </div>
  </mat-dialog-actions>

  <mat-dialog-content
    class="container mx-0 px-0 col-12"
    *ngIf="currentProject && currentProjectToUpdate !== null"
  >
    <div class="row col-12 mx-0 px-0">
      <div class="col-8 mx-0 px-0">
        <mat-card-title
          class="col-12 text-start align-items-center mx-0 px-0 mb-0 pb-0 py-3"
          >Update Project</mat-card-title
        >
      </div>

      <div class="col-4 d-flex justify-content-end mx-0 px-0 pt-1">
        <button mat-icon-button class="col-12" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <form
      class="container mt-2 mx-0 px-0 col-12"
      [formGroup]="addProjectForm!"
      (keyup.enter)="checkAndUpdate()"
    >
      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Project Name</mat-label>
          <input
            matInput
            [(ngModel)]="currentProjectToUpdate.projectName"
            type="text"
            formControlName="name"
            required="true"
          />
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Customer name</mat-label>
          <mat-select [(value)]="selectedItem" formControlName="customerName">
            <mat-option
              *ngFor="let customer of customers"
              [value]="customer.id"
              ngDefaultControl
            >
              {{ customer.customerName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Project Contract</mat-label>
          <input
            matInput
            [(ngModel)]="currentProject.contract"
            formControlName="contract"
            type="text"
          />
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Due date</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            [(ngModel)]="selectedDate"
            [ngModelOptions]="{ standalone: true }"
          />
          <mat-datepicker-toggle
            [for]="datePicker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Contract Sign Date</mat-label>
          <input
            matInput
            [matDatepicker]="datePickerContractSign"
            [(ngModel)]="contractSignDate"
            [ngModelOptions]="{ standalone: true }"
          />
          <mat-datepicker-toggle
            [for]="datePickerContractSign"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #datePickerContractSign touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row col-12 mx-0 px-0">
        <mat-form-field class="mx-0 px-0" appearance="fill">
          <mat-label>Project Invoice Term</mat-label>
          <input
            matInput
            [(ngModel)]="currentProject.invoiceTerm"
            formControlName="invoiceTerm"
            type="text"
          />
        </mat-form-field>
      </div>
    </form>

    <mat-dialog-actions>
      <div class="row col-12 mx-0 px-0">
        <button
          *ngIf="currentProjectToUpdate !== null"
          mat-raised-button
          color="accent"
          (click)="checkAndUpdate()"
        >
          Update project
        </button>
      </div>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
