<mat-dialog-content *ngIf="currentProject && this.project === null">
  <form [formGroup]="addProjectForm!">
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input
        matInput
        [(ngModel)]="currentProject.projectName"
        type="text"
        formControlName="name"
        required="true"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Project Customer ID</mat-label>
      <input
        matInput
        [(ngModel)]="currentProject.customerId"
        formControlName="customerId"
        type="text"
        required="true"
      />
    </mat-form-field>

    <h4>sasdsdf</h4>

    <mat-form-field appearance="fill">
      <mat-label>Customer name</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let customer of customers"
          [value]="customer.customerName"
        >
          {{ customer.customerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    *ngIf="project === null"
    mat-raised-button
    (click)="addProject(); dialogClose()"
  >
    Add project
  </button>
</mat-dialog-actions>

<mat-dialog-content *ngIf="currentProject && this.project !== null">
  <form [formGroup]="addProjectForm!">
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input
        matInput
        [(ngModel)]="currentProject.projectName"
        type="text"
        formControlName="name"
        required="true"
      />
    </mat-form-field>
    <h4>sasdsdf</h4>
    <mat-form-field appearance="fill">
      <mat-label>Project Customer ID</mat-label>
      <input
        matInput
        [(ngModel)]="this.currentProject.customerId"
        formControlName="customerId"
        type="text"
        required="true"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    *ngIf="this.project"
    mat-raised-button
    (click)="editProject(); dialogClose()"
  >
    Update project
  </button>
</mat-dialog-actions>
