<mat-nav-list>
    <a mat-list-item *ngIf="!isAdmin" routerLink="/reporting" (click)="closeSidenav.emit()">{{
        "sidenav.home" | translate }}</a>
    <a mat-list-item *ngIf="isAdmin" routerLink="/reporting" (click)="closeSidenav.emit()">{{
        "sidenav.home" | translate }}</a>
    <a mat-list-item routerLink="reporting/activity/{{ this.currentUserId }}" (click)="closeSidenav.emit()">{{
        "sidenav.activities" | translate }}</a>
    <a *ngIf="isAdmin" mat-list-item routerLink="reporting/user" (click)="closeSidenav.emit()">{{
        "sidenav.users" | translate }}</a>
    <a *ngIf="isAdmin" mat-list-item routerLink="reporting/rate" (click)="closeSidenav.emit()">{{
        "sidenav.rates" | translate }}</a>
    <a *ngIf="isAdmin" mat-list-item routerLink="reporting/project" (click)="closeSidenav.emit()">{{ "sidenav.projects"
        | translate }}</a>
    <a *ngIf="isAdmin" mat-list-item routerLink="reporting/customer" (click)="closeSidenav.emit()">{{
        "sidenav.customers"
        | translate }}</a>
    <a *ngIf="isAdmin" mat-list-item routerLink="reporting/user-reporting" (click)="closeSidenav.emit()">{{
        "sidenav.reporting" | translate }}
    </a>
    <a mat-list-item *ngIf="isAdmin" routerLink="reporting/invoice" (click)="closeSidenav.emit()">{{ "sidenav.invoices"
        | translate }}
    </a>
</mat-nav-list>