<app-entity-page-header
  [datePickerType]="datePickerType.monthYear"
  (datePickerValueChanged)="changeDate($event)"
  [filter]="store.filter()"
  [projectSelectOptions]="this.store.projects()"
  [userSelectOptions]="this.store.users()"
  (projectSelectValueChanged)="updateFilter('project', $event)"
  (userSelectValueChanged)="updateFilter('user', $event)"
  class="d-flex flex-wrap justify-content-between column-gap-2"
/>

@if(store.filter().user || store.filter().project){
<div class="d-flex mb-2">
  <mat-card-subtitle class="align-self-center">{{
    "reporting.page.filterBy" | translate
  }}</mat-card-subtitle>
  <mat-chip-set class="ms-2">
    @if(store.filter().user){
    <mat-chip>
      User: {{ store.filter().user?.name }} {{ store.filter().user.surname }}
    </mat-chip>
    } @if(store.filter().project){
    <mat-chip> Project: {{ store.filter().project?.projectName }} </mat-chip>
    }
  </mat-chip-set>
</div>

} @if(!store.isLoading() && store.monthYearReport()){
<app-reporting-month-overview
  *ngIf="store.monthYearReport() && activeMonth()"
  [activeMonth]="store.filter().activeMonth"
  [monthYearReport]="store.monthYearReport()"
/>
<div class="col-12 d-flex justify-content-center">
  <button
    mat-icon-button
    class="d-flex flex-column mx-auto mt-3"
    aria-label="Enable Activities view button"
    type="button"
    (click)="displayActivitiesView.set(!displayActivitiesView())"
  >
    <mat-icon [color]="displayActivitiesView() ? 'secondary' : 'accent'">{{
      displayActivitiesView()
        ? icons.keyboard_arrow_up
        : icons.keyboard_arrow_down
    }}</mat-icon>
  </button>
</div>
<app-reporting-activities-view
  *ngIf="displayActivitiesView()"
  [monthYearReport]="store.monthYearReport()"
  [filters]="store.filter()"
  [projects]="this.store.projects()"
  [users]="store.users()"
  [activityTypes]="store.activityTypes()"
  (add)="addActivityToDate($event)"
  (edit)="editActivityOfDate($event)"
  (delete)="deleteActivityFromDate($event)"
/>
}@else{
<div class="d-flex col-12 justify-content-center mt-4">
  <mat-spinner color="accent" />
</div>
}
