<!-- dialog header with x button -->
<div class="d-flex flex-row-reverse">
    <button class="text-white" mat-icon-button mat-dialog-close>
        <mat-icon>{{icons.close}}</mat-icon>
    </button>
</div>

<!-- dialog title -->
<h2 mat-dialog-title align="center" class="p-5">{{ "confirmation.dialog.title" | translate }} </h2>

<!-- dialog action buttons -->
<mat-dialog-actions align="center" class="gap-2 pb-4">
    <button mat-raised-button mat-dialog-close (click)="dialogRef.close(true)" color="accent">
        {{ "confirmation.dialog.yesButton" | translate }}
    </button>
    <button mat-raised-button mat-dialog-close>
        {{ "confirmation.dialog.cancel" | translate }}
    </button>
</mat-dialog-actions>