<div class="dialog-container">
  <mat-dialog-content *ngIf="currentUser && user === null">
    <mat-card-title>{{ "user.dialog.addTitle" | translate }} </mat-card-title>
    <form [formGroup]="addUserForm!" (keyup.enter)="addUser()">
      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.surname" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.surname"
          type="text"
          formControlName="surname"
          required="true"
        />
        <mat-hint *ngIf="surname?.touched && !surname?.dirty">
          {{ "user.dialog.surnameHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.name" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.name"
          formControlName="name"
          type="text"
          required="true"
        />
        <mat-hint *ngIf="name?.touched && !name?.dirty">
          {{ "user.dialog.nameHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.email" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.email"
          formControlName="email"
          type="text"
          required="true"
        />
        <mat-hint *ngIf="email?.touched && !email?.dirty">
          {{ "user.dialog.emailHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.role" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.role"
          type="text"
          formControlName="role"
        />
        <mat-hint *ngIf="role?.touched && !role?.dirty">
          {{ "user.dialog.roleHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.seniority" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.seniority"
          type="text"
          formControlName="seniority"
        />
        <mat-hint *ngIf="seniority?.touched && !seniority?.dirty">
          {{ "user.dialog.seniorityHint" | translate }}
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.timePerDay" | translate }} </mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.timePerDay"
          type="text"
          formControlName="timePerDay"
        />
        <mat-hint *ngIf="timePerDay?.touched && !timePerDay?.dirty">
          {{ "user.dialog.timePerDayHint" | translate }}
        </mat-hint>
      </mat-form-field>
    </form>
    <mat-slide-toggle [(ngModel)]="adminUserCheck">{{
      "user.dialog.adminToggleText" | translate
    }}</mat-slide-toggle>
    <button
      *ngIf="this.user === null"
      color="accent"
      mat-raised-button
      (click)="addUser()"
    >
      {{ "user.dialog.addTitle" | translate }}
    </button>
  </mat-dialog-content>

  <mat-dialog-content *ngIf="currentUser && user !== null">
    <mat-card-title>{{ "user.dialog.updateTitle" | translate }}</mat-card-title>
    <form [formGroup]="addUserForm!" (keyup.enter)="editUser()">
      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.surname" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.surname"
          type="text"
          formControlName="surname"
          required="true"
        />
        <mat-hint *ngIf="surname?.touched && !surname?.dirty">
          {{ "user.dialog.surnameHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.name" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.name"
          formControlName="name"
          type="text"
          required="true"
        />
        <mat-hint *ngIf="name?.touched && !name?.dirty">
          {{ "user.dialog.nameHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.email" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.email"
          formControlName="email"
          type="text"
          required="true"
        />
        <mat-hint *ngIf="email?.touched && !email?.dirty">
          {{ "user.dialog.emailHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.role" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.role"
          type="text"
          formControlName="role"
        />
        <mat-hint *ngIf="role?.touched && !role?.dirty">
          {{ "user.dialog.roleHint" | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.seniority" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.seniority"
          type="text"
          formControlName="seniority"
        />
        <mat-hint *ngIf="seniority?.touched && !seniority?.dirty">
          {{ "user.dialog.userSeniority" | translate }}
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ "user.dialog.timePerDay" | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="currentUser.timePerDay"
          type="text"
          formControlName="timePerDay"
        />
        <mat-hint *ngIf="timePerDay?.touched && !timePerDay?.dirty">
          {{ "user.dialog.timePerDayHint" | translate }}
        </mat-hint>
      </mat-form-field>
    </form>
    <mat-slide-toggle [(ngModel)]="adminUserCheck">Admin</mat-slide-toggle>
    <button
      *ngIf="user !== null"
      mat-raised-button
      color="accent"
      (click)="editUser()"
    >
      {{ "user.dialog.updateTitle" | translate }}
    </button>
  </mat-dialog-content>
</div>
