@import 'src/styles/custom_theme.sass'

.dialog-container
  width: 100%
  overflow-x: hidden
  overflow-y: hidden

.flex-container
  display: flex

.flex-child
  flex: 1
.mat-card-title
  margin-bottom: 1em

.flex-child:first-child
  margin-right: 20px

.mat-dialog-content
  width: 100%
  margin: 0 auto
  margin-top: 1em
  overflow: inherit
  padding: 0!important
  display: flex
  flex-direction: column
  justify-content: center

  .mat-form-field
    justify-self: center
    width: 100%

h3
  text-align: center

.mat-raised-button
  width: 100%
  margin: 0!important
  margin-top: 3%!important
  align-self: center
.mat-hint
  color: $rsasoft-warning
