@use '@angular/material' as mat
@include mat.core()
$rsasoft-layer2-card: #393939
$rsasoft-layer1-card: #424242
$rsasoft-background: #303030
$rsasoft-warning: mat.get-color-from-palette(mat.$red-palette,500)
$rsasoft-warn: mat.define-palette(mat.$red-palette)
