@use '@angular/material' as mat
@include mat.core()

$rsasoft-layer2-card-color: #393939
$rsasoft-layer1-card-color: #424242
$rsasoft-background-color: #303030

$rsasoft-blue-palette: (50: #e6f3fb, 100: #c1e0f6, 200: #9ccdf0, 300: #7abae9, 400: #63abe5,500: #529de1, 600: #4a8fd4,700: #417dc1, 800: #396caf, 900: #2D508F, contrast:(50: #2D508F, 100: #2D508F, 200: #396caf, 300:#417dc1, 400: #4a8fd4, 500:#529de1, 600: #63abe5, 700: #9ccdf0, 800: #c1e0f6, 900: #e6f3fb), contrast-contrast:#ffffff)
$rsasoft-orange-palette: (50:#fef9e7, 100: #fceec3, 200: #e78840, 300: #c45d17, 400: #c45d17,500: #c45d17, 600: #c45d17,700: #c9a639, 800: #b39035, 900: #c45d17, contrast:(50: #000000, 100: #000000, 200: #000000 ,300:#000000, 400:#000000, 500:#ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff), contrast-contrast:#ffffff)

$rsasoft-primary: mat.define-palette($rsasoft-blue-palette,900)
$rsasoft-accent: mat.define-palette($rsasoft-orange-palette,500)
$rsasoft-warning-color: mat.get-color-from-palette(mat.$red-palette)

$full-width: 100%
$full-height: 100%

$rsasoft-fully-reported-day: #6bb231e1
$rsasoft-partially-reported-day: #e08600e1
$rsasoft-without-reported-hours: #e00000e1
$rsasoft-navigation-hover: mat.define-palette($rsasoft-blue-palette,900)
$user-navigation-header: mat.define-palette($rsasoft-blue-palette,300)
$rsasoft-orange: mat.define-palette($rsasoft-orange-palette,900)
