@use '@angular/material' as mat
@include mat.core()
$rsasoft-layer2-card-color: #393939
$rsasoft-layer1-card-color: #424242
$rsasoft-background-color: #303030
$rsasoft-warning-color: mat.get-color-from-palette(mat.$red-palette)
$full-width: 100%
$full-height: 100%
$mat-card-title-bottom-margin: 1em
$rsasoft-white: #FFFFFF
$rsasoft-black: #000000
$rsasoft-fully-reported-day:  #6bb231e1
$rsasoft-partially-reported-day: #e08600e1
$rsasoft-without-reported-hours: #e00000e1 
$media-query-400px: 400px
$media-query-820px: 820px
$media-query-widescreen: 1950px
