<mat-card class="row mx-0 px-0 mb-3">
    @if(title()){
    <mat-card-title class="d-flex align-items-center gap-1">
        @if (emptyIcon()) {
        <mat-icon>{{emptyIcon()}}</mat-icon>
        }
        {{ title() }}
    </mat-card-title>
    }


    @if (subtitle()) {
    <mat-card-subtitle>
        {{ subtitle() }}
    </mat-card-subtitle>
    }

    @if(chips()?.length>0){
    <mat-card-content>
        <mat-chip-set>
            @for (chip of chips(); track $index) {
            <mat-chip> {{chip | translate}}</mat-chip>
            }
        </mat-chip-set>
    </mat-card-content>
    }

    <ng-content select="[actions]">
    </ng-content>
</mat-card>