<mat-card class="p-2" [ngClass]="{'secondary-card':nestedCard()}">
    @if(title()){
    <mat-card-header [ngClass]="{'p-2': emptyIcon()}">
        <mat-card-title class="d-flex align-items-center gap-1 text-white">
            @if (emptyIcon()) {
            <mat-icon>{{emptyIcon()}}</mat-icon>
            }
            {{ title() }}
        </mat-card-title>

        @if (subtitle()) {
        <mat-card-subtitle>
            {{ subtitle() }}
        </mat-card-subtitle>
        }
    </mat-card-header>
    }

    @if(chips()?.length>0){
    <mat-card-content>
        <mat-chip-set>
            @for (chip of chips(); track $index) {
            <mat-chip> {{chip | translate}}</mat-chip>
            }
        </mat-chip-set>
    </mat-card-content>
    }

    <ng-content select="[actions]">
    </ng-content>
</mat-card>