<div class="container mx-0 px-0">
  <mat-dialog-content>
    <div class="row col-12 mx-0 px-0">
      <div class="col-8 mx-0 px-0">
        <mat-card-title class="col-12 text-start align-items-center mx-0 px-0 mb-0 pb-0 py-3">
          {{ 'reporting.hoursBookedDialog.employeeCommitment' | translate }} {{ dateToDisplay }}
        </mat-card-title>
      </div>

      <div class="col-4 d-flex justify-content-end mx-0 px-0 pt-1">
        <button mat-icon-button class="col-12" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="row col-12 mx-0 px-0 mt-4">
      <mat-card class="col-12 mx-0 px-0 d-flex justify-content-center mt-2 employee-commitment-card"
        *ngFor="let employeeCommitment of employeeCommitmentToDisplay">
        <mat-card-title class="col-12 px-3">
          {{ employeeCommitment.employeeName }} -
          {{ employeeCommitment.reportedHours }}/{{
          employeeCommitment.employeeExpectedCommitment
          }}
        </mat-card-title>
      </mat-card>
    </div>
  </mat-dialog-content>
</div>