@import 'src/styles/variables.sass'
.content-container
  background: $rsasoft-layer1-card-color !important
.entity-card
  background: $rsasoft-layer2-card-color !important
.add-button-card
  background: $rsasoft-layer2-card-color !important
.top-button
  height: 58px
  cursor: pointer
  border-radius: 7px