<div class="row">
    <div class="col d-flex justify-content-start">
        <mat-form-field appearance="fill" class="col-12 col-md-8 col-sm-8 col-lg-6 col-xl-5">
            @if (label()) {
            <mat-label>{{ label() }}</mat-label>
            }
            <input matInput (keyup)="keyUp.emit($event)" placeholder="{{ placeholder() }}" />
        </mat-form-field>
    </div>
    <div class="col justify-content-end d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
        <button mat-raised-button class="top-button p-0 d-flex flex-column" (click)="addEntity.emit()"
            aria-label="Example icon button with a delete icon">
            <mat-icon color="accent" class="mx-0">{{icons.add_box}}</mat-icon>
        </button>
    </div>
</div>