<app-entity-page-header [searchLabel]="'shared.entity.header.search' | translate:{entity:'customer'}"
  [hasAddEntity]="true" [searchPlaceholder]="'shared.entity.header.searchPlaceholder' | translate"
  (addEntity)="addCustomer()" (searchKeyUp)="search.set($event.target['value'])"
  class="d-flex flex-wrap justify-content-between column-gap-2"></app-entity-page-header>

<div class="d-flex flex-column h-100">
  @for (customer of filterdCustomers(); track $index) {
  <app-entity-item [title]="customer.customerName" [subtitle]="customer.shortName" [chips]="chipsArray(customer)">
    <mat-card-actions actions align="end">
      <button mat-icon-button (click)="editCustomer(customer)" aria-label="Edit customer button" type="button">
        <mat-icon color="accent">{{icons.edit}}</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCustomer(customer.id)" aria-label="Delete customer button" type="button">
        <mat-icon color="accent">{{icons.delete}}</mat-icon>
      </button>
    </mat-card-actions>
  </app-entity-item>
  }

  <button mat-raised-button class="d-flex flex-column mx-auto add-entity-button" aria-label="Create customer button"
    type="button" (click)="addCustomer()">
    <mat-icon color="accent" class="mx-0">{{icons.add_box}}</mat-icon>
  </button>
</div>