<app-toolbar [pageTitle]="pageTitle" (toggleSidenav)="sidenav.toggle()" (logOut)="authService.doLogout()"
  [user]="user()"></app-toolbar>

<mat-sidenav-container class="d-flex flex-column w-100 h-100">
  <mat-sidenav #sidenav class="col-12">
    <app-navigation [isAdmin]="user()?.roles==='admin'" (closeSidenav)="sidenav.close()"
      (logOut)="sidenav.close();authService.doLogout();"></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content
    class="container d-flex flex-row justify-content-center gap-4 pt-xxl-4 pt-xl-4 pt-lg-4 pt-md-4 pt-sm-2 pt-2">
    <section class="d-xl-flex d-lg-flex d-md-flex d-sm-none d-none flex-column col-2" #left *ngIf="user()?.id">
      <mat-card>
        <app-navigation [isAdmin]="user()?.roles==='admin'"></app-navigation>
      </mat-card>
    </section>

    <section class="d-flex flex-column justify-items-center flex-grow-1 col h-100" #main>
      <router-outlet></router-outlet>
    </section>

    <section class="d-xl-flex d-lg-flex d-md-none d-sm-none d-none col-2" #right *ngIf="user()?.id">
      &nbsp;
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>