<app-toolbar [pageTitle]="pageTitle"></app-toolbar>

<div class="d-xl-flex d-lg-flex d-md-flex d-none col-xxl-8 col-xl-10 col-lg-10 col-md-12 col-12 pt-3 mx-auto gap-4">
  <section class="col-2 d-flex flex-column gap-4" #left>
    <mat-card>
      <app-navigation [isAdmin]="isAdmin" [currentUserId]="currentUserId"></app-navigation>
    </mat-card>
  </section>
  <section class="col-8" #main>
    <router-outlet></router-outlet>
  </section>
  <section class="col-2 d-flex flex-column gap-4" #right></section>
</div>
<!-- 
<mat-sidenav-container class="d-flex d-lg-none col-12">
  <mat-sidenav #sidenav class="col-2">
    <app-navigation [isAdmin]="isAdmin" [currentUserId]="currentUserId" (closeSidenav)="sidenav.close()"
      (logOut)="sidenav.close();authService.doLogout();currentUserId=undefined;"></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="container pt-3 col-12">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->