<app-toolbar [pageTitle]="pageTitle" (toggleSidenav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container class="d-flex flex-column w-100 h-100">
  <mat-sidenav #sidenav class="col-12">
    <app-navigation [isAdmin]="isAdmin" [currentUserId]="currentUserId" (closeSidenav)="sidenav.close()"
      (logOut)="sidenav.close();authService.doLogout();currentUserId=undefined;"></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content class="container d-flex flex-row justify-content-center gap-4 mt-2">
    <section class="d-xl-flex d-lg-flex d-md-flex d-sm-none d-none flex-column" #left *ngIf="currentUserId">
      <mat-card>
        <app-navigation [isAdmin]="isAdmin" [currentUserId]="currentUserId"></app-navigation>
      </mat-card>
    </section>

    <section class="d-flex flex-column justify-items-center flex-grow-1" #main>
      <router-outlet></router-outlet>
    </section>

    <section class="d-xl-flex d-lg-flex d-md-none d-sm-none d-none" #right *ngIf="currentUserId">
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>