h3
  color: #000000
  text-align: center

.container-icon-code
  display: flex
  width: fit-content
  margin: 0 auto
  text-align: center

.container-all
  width: fit-content
  margin: 0 auto
  justify-content: center
