<sub class="opacity-70 d-flex mx-3 mb-4 text-white" *ngIf="user">{{ 'sidenav.account' | translate
    }}</sub>
<div class="opacity-70 d-flex flex-row gap-2 mx-3 my-2 text-white" *ngIf="user">
    <app-initials-icon class="rounded-circle" [user]="user"></app-initials-icon>
    <div class="d-flex flex-column mb-3 ml-4 white">
        <span>{{user.name}} {{user.surname}}</span>
        <sub>{{user.email}}</sub>
    </div>
</div>
<mat-divider></mat-divider>
<a mat-menu-item class="opacity-70" routerLink="/reporting/settings">
    {{'sidenav.settings' | translate}}
</a>
<mat-divider></mat-divider>
<button mat-menu-item class="opacity-70" (click)="logOut.emit()">
    <span>{{'sidenav.logOut' | translate}}</span>
</button>