@import 'src/styles/variables.sass'

.content-container
  background: $rsasoft-layer1-card-color !important
.entity-card
  background: $rsasoft-layer2-card-color !important
.add-button-card
  background: $rsasoft-layer2-card-color !important

@media(max-width: 425px )
  .data-cell
    font-size: 11px

  .header-cell
    font-size: 11px
  .mat-raised-button
    min-width: 40px !important
  .small-icon-button
    width: 8px !important
    height: 16px !important
    line-height: 8px !important
    .mat-icon
      width: 8px !important
      height: 12px !important
      line-height: 12px !important

    .material-icons
      font-size: 12px !important
