<mat-card-title class="page-title">User page</mat-card-title>
<div class="header-activity">
  <mat-form-field appearance="fill" class="header-searchbar">
    <mat-label>Search user</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex: Rusu"
      #input
    />
  </mat-form-field>

  <button
    mat-raised-button
    class="header-add-button theme-add-card"
    (click)="addUser()"
  >
    <mat-icon color="accent">add_box</mat-icon>
  </button>
</div>

<mat-card class="card-container">
  <a href=""></a>
  <mat-card class="secondary-card" *ngFor="let user of allUsers">
    <a routerLink="/employee/{{ user.id }}">
      <mat-card-title> {{ user.name }} {{ user.surname }} </mat-card-title>
      <mat-card-subtitle>
        {{ user.role }}
      </mat-card-subtitle>
    </a>
    <mat-card-actions align="end">
      <button mat-button color="accent" (click)="editUser(user)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="deleteUser(user.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button class="secondary-card" (click)="addUser()">
    <mat-icon color="accent">add_box</mat-icon>
  </button>
</mat-card>
