<mat-card>
  <mat-card-title>{{ "resetPasswordPage.title" | translate }}</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="resetPasswordForm!"
      (keyup.enter)="sendPasswordResetRequest(user.email)"
    >
      <mat-form-field>
        <mat-label>{{ "resetPasswordPage.email" | translate }}</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="user.email"
          formControlName="email"
          required
        />
        <mat-hint *ngIf="email?.invalid && email?.touched">
          {{ "resetPasswordPage.emailHint" | translate }}
        </mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      (click)="sendPasswordResetRequest(user.email)"
    >
      {{ "resetPasswordPage.resetPassword" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
