<div class="dialog-container">
  <mat-dialog-content
    *ngIf="currentActivity && this.userDateActivity.activity === undefined"
  >
    <mat-card-title>Add Activity</mat-card-title>
    <form [formGroup]="addActivityForm!">
      <mat-form-field appearance="fill">
        <mat-label>Activity Name</mat-label>
        <input
          matInput
          [(ngModel)]="currentActivity.name"
          type="text"
          formControlName="name"
          required="true"
        />
        <mat-hint style="color: red" *ngIf="name?.touched && !name?.dirty">
          Activity name is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity Start</mat-label>
        <input
          matInput
          [(ngModel)]="currentActivity.start"
          formControlName="start"
          type="text"
          required="true"
        />
        <mat-hint style="color: red" *ngIf="start?.touched && !start?.dirty">
          Activity start time is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity End</mat-label>
        <input
          matInput
          [(ngModel)]="currentActivity.end"
          formControlName="end"
          type="text"
          required="true"
        />
        <mat-hint style="color: red" *ngIf="end?.touched && !end?.dirty">
          Activity end time is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="currentActivity.description"
          type="text"
          formControlName="extras"
        >
        </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity Extras</mat-label>
        <textarea
          matInput
          [(ngModel)]="currentActivity.extras"
          type="text"
          formControlName="extras"
        >
        </textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="addActivity()">
      Add activity
    </button>
  </mat-dialog-content>

  <mat-dialog-content
    *ngIf="currentActivity && this.userDateActivity.activity !== undefined"
  >
    <mat-card-title>Update Activity</mat-card-title>
    <form [formGroup]="addActivityForm!">
      <mat-form-field appearance="fill">
        <mat-label>Activity Name</mat-label>
        <input
          matInput
          [(ngModel)]="currentActivity.name"
          type="text"
          formControlName="name"
          required="true"
        />
        <mat-hint style="color: red" *ngIf="name?.touched && !name?.dirty">
          Activity name is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity Start</mat-label>
        <input
          matInput
          [(ngModel)]="currentActivity.start"
          formControlName="start"
          type="text"
          required="true"
        />
        <mat-hint style="color: red" *ngIf="start?.touched && !start?.dirty">
          Activity start time is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity End</mat-label>
        <input
          matInput
          [(ngModel)]="currentActivity.end"
          formControlName="end"
          type="text"
          required="true"
        />
        <mat-hint style="color: red" *ngIf="end?.touched && !end?.dirty">
          Activity end time is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="currentActivity.description"
          type="text"
          formControlName="description"
        >
        </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity Extras</mat-label>
        <textarea
          matInput
          [(ngModel)]="currentActivity.extras"
          type="text"
          formControlName="extras"
        >
        </textarea>
      </mat-form-field>
    </form>
    <button
      *ngIf="this.userDateActivity.activity !== undefined"
      color="primary"
      mat-raised-button
      (click)="editActivity()"
    >
      Update Activity
    </button>
  </mat-dialog-content>
</div>
