<div class="dialog-container">
  <mat-card-title *ngIf="currentCustomer && customer === null"
    >{{ "customer.dialog.addTitle" | translate }}
  </mat-card-title>
  <mat-dialog-content *ngIf="currentCustomer && customer === null">
    <form [formGroup]="addCustomerForm!" (keyup.enter)="addCustomer()">
      <div class="flex-container">
        <div class="flex-child">
          <mat-form-field class="first-form-field" appearance="fill">
            <mat-label>{{
              "customer.dialog.customerName" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerName"
              type="text"
              formControlName="name"
              required="true"
            />
            <mat-hint *ngIf="name?.value === undefined || name?.value === ''">{{
              "customer.dialog.customerNameHint" | translate
            }}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerCUI" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCUI"
              formControlName="cui"
              type="text"
              required="true"
            />
            <mat-hint *ngIf="cui?.value === undefined || cui?.value === ''">{{
              "customer.dialog.customerCUIHint" | translate
            }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerReg" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerReg"
              formControlName="reg"
              type="text"
              required="true"
            />
            <mat-hint *ngIf="reg?.value === undefined || reg?.value === ''">{{
              "customer.dialog.customerRegHint" | translate
            }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerAddress" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerAddress"
              formControlName="address"
              type="text"
              required="true"
            />
            <mat-hint
              *ngIf="address?.value === undefined || address?.value === ''"
              >{{ "customer.dialog.customerAddressHint" | translate }}</mat-hint
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerCity" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCity"
              type="text"
              formControlName="city"
            />
            <mat-hint *ngIf="city?.value === undefined || city?.value === ''">{{
              "customer.dialog.customerCityHint" | translate
            }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerShortName" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.shortName"
              type="text"
              formControlName="shortName"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerCountry" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCountry"
              type="text"
              formControlName="country"
            />
            <mat-hint
              *ngIf="country?.value === undefined || country?.value === ''"
              >{{ "customer.dialog.customerCountryHint" | translate }}</mat-hint
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerDirectorName" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorName"
              type="text"
              formControlName="directorName"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerDirectorEmail" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorEmail"
              type="text"
              formControlName="directorEmail"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerDirectorTel" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorTel"
              type="text"
              formControlName="directorTel"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-slide-toggle [(ngModel)]="currentCustomer.internal">{{
      "customer.page.internal" | translate
    }}</mat-slide-toggle>
  </mat-dialog-content>

  <button
    *ngIf="this.customer === null"
    color="accent"
    mat-raised-button
    (click)="addCustomer()"
  >
    {{ "customer.dialog.addTitle" | translate }}
  </button>
  <mat-card-title *ngIf="currentCustomer && this.customer !== null">{{
    "customer.dialog.updateTitle" | translate
  }}</mat-card-title>
  <mat-dialog-content *ngIf="currentCustomer && this.customer !== null">
    <form [formGroup]="addCustomerForm!" (keyup.enter)="editCustomer()">
      <div class="flex-container">
        <div class="flex-child">
          <mat-form-field class="first-form-field" appearance="fill">
            <mat-label>{{
              "customer.dialog.customerName" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerName"
              type="text"
              formControlName="name"
              required="true"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerCUI" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCUI"
              formControlName="cui"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerReg" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerReg"
              formControlName="reg"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerAddress" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerAddress"
              formControlName="address"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerCity" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCity"
              type="text"
              formControlName="city"
            />
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerShortName" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.shortName"
              type="text"
              formControlName="shortName"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerCountry" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCountry"
              type="text"
              formControlName="country"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerDirectorName" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorName"
              type="text"
              formControlName="directorName"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerDirectorEmail" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorEmail"
              type="text"
              formControlName="directorEmail"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "customer.dialog.customerDirectorTel" | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorTel"
              type="text"
              formControlName="directorTel"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-slide-toggle [(ngModel)]="currentCustomer.internal">{{
      "customer.page.internal" | translate
    }}</mat-slide-toggle>
  </mat-dialog-content>

  <button
    *ngIf="this.customer !== null"
    color="accent"
    mat-raised-button
    (click)="editCustomer()"
  >
    {{ "customer.dialog.updateTitle" | translate }}
  </button>
</div>
