<div class="dialog-container">
  <mat-card-title
    *ngIf="currentCustomer && customer === null"
    i18n="@@customer-dialog-add-title"
    >Add Customer</mat-card-title
  >
  <mat-dialog-content *ngIf="currentCustomer && customer === null">
    <form [formGroup]="addCustomerForm!" (keyup.enter)="addCustomer()">
      <mat-form-field class="first-form-field" appearance="fill">
        <mat-label i18n="@@customer-dialog-customerName"
          >Customer Name</mat-label
        >
        <input
          matInput
          [(ngModel)]="currentCustomer.customerName"
          type="text"
          formControlName="name"
          required="true"
        />
      </mat-form-field>
      <div class="flex-container">
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerCUI"
              >Customer CUI</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCUI"
              formControlName="cui"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerReg"
              >Customer Reg</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerReg"
              formControlName="reg"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerAddress"
              >Customer Address</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerAddress"
              formControlName="address"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerCity"
              >Customer City</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCity"
              type="text"
              formControlName="city"
            />
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerCountry"
              >Customer Country</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCountry"
              type="text"
              formControlName="country"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerDirectorName"
              >Customer Director Name</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorName"
              type="text"
              formControlName="directorName"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerDirectorEmail"
              >Customer Director Email</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorEmail"
              type="text"
              formControlName="directorEmail"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerDirectorTel"
              >Customer Director Tel</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorTel"
              type="text"
              formControlName="directorTel"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-checkbox [(ngModel)]="customerInternal">Internal Company</mat-checkbox>
  </mat-dialog-content>

  <button
    *ngIf="this.customer === null"
    color="accent"
    mat-raised-button
    (click)="addCustomer()"
    i18n="@@customer-dialog-add-button"
  >
    Add customer
  </button>
  <mat-card-title
    *ngIf="currentCustomer && this.customer !== null"
    i18n="@@customer-dialog-update-title"
    >Update Customer</mat-card-title
  >
  <mat-dialog-content *ngIf="currentCustomer && this.customer !== null">
    <form [formGroup]="addCustomerForm!" (keyup.enter)="editCustomer()">
      <mat-form-field class="first-form-field" appearance="fill">
        <mat-label i18n="@@customer-dialog-customerName"
          >Customer Name</mat-label
        >
        <input
          matInput
          [(ngModel)]="currentCustomer.customerName"
          type="text"
          formControlName="name"
          required="true"
        />
      </mat-form-field>
      <div class="flex-container">
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerCUI"
              >Customer CUI</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCUI"
              formControlName="cui"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerReg"
              >Customer Reg</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerReg"
              formControlName="reg"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerAddress"
              >Customer Address</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerAddress"
              formControlName="address"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerCity"
              >Customer City</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCity"
              type="text"
              formControlName="city"
            />
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerCountry"
              >Customer Country</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerCountry"
              type="text"
              formControlName="country"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerDirectorName"
              >Customer Director Name</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorName"
              type="text"
              formControlName="directorName"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerDirectorEmail"
              >Customer Director Email</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorEmail"
              type="text"
              formControlName="directorEmail"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label i18n="@@customer-dialog-customerDirectorTel"
              >Customer Director Tel</mat-label
            >
            <input
              matInput
              [(ngModel)]="currentCustomer.customerDirectorTel"
              type="text"
              formControlName="directorTel"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-checkbox [(ngModel)]="customerInternal">Internal Company</mat-checkbox>
  </mat-dialog-content>

  <button
    *ngIf="this.customer !== null"
    color="accent"
    mat-raised-button
    (click)="editCustomer()"
    i18n="@@customer-dialog-update-button"
  >
    Update customer
  </button>
</div>
