<div class="dialog-container">
  <mat-dialog-content *ngIf="currentCustomer && this.customer === null">
    <mat-card-title>Add Customer</mat-card-title>
    <form [formGroup]="addCustomerForm!">
      <mat-form-field appearance="fill">
        <mat-label>Customer Name</mat-label>
        <input matInput [(ngModel)]="currentCustomer.customerName" type="text" formControlName="name" required="true" />
      </mat-form-field>
      <div class="flex-container">
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>Customer CUI</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerCUI" formControlName="cui" type="text"
              required="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Reg</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerReg" formControlName="reg" type="text"
              required="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Address</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerAddress" formControlName="address" type="password"
              required="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer City</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerCity" type="text" formControlName="city" />
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>Customer Country</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerCountry" type="text" formControlName="country" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Director Name</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerDirectorName" type="text"
              formControlName="directorName" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Director Email</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerDirectorEmail" type="text"
              formControlName="directorEmail" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Director Tel</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerDirectorTel" type="text"
              formControlName="directorTel" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <button *ngIf="this.customer === null" color="accent" mat-raised-button (click)="addCustomer();">
    Add customer
  </button>

  <mat-dialog-content *ngIf="currentCustomer && this.customer !== null">
    <mat-card-title>Update Customer</mat-card-title>
    <form [formGroup]="addCustomerForm!">
      <mat-form-field appearance="fill">
        <mat-label>Customer Name</mat-label>
        <input matInput [(ngModel)]="currentCustomer.customerName" type="text" formControlName="name" required="true" />
      </mat-form-field>
      <div class="flex-container">
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>Customer CUI</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerCUI" formControlName="cui" type="text"
              required="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Reg</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerReg" formControlName="reg" type="text"
              required="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Address</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerAddress" formControlName="address" type="password"
              required="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer City</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerCity" type="text" formControlName="city" />
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>Customer Country</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerCountry" type="text" formControlName="country" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Customer Director Name</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerDirectorName" type="text"
              formControlName="directorName" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Director Email</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerDirectorEmail" type="text"
              formControlName="directorEmail" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer Director Tel</mat-label>
            <input matInput [(ngModel)]="currentCustomer.customerDirectorTel" type="text"
              formControlName="directorTel" />
          </mat-form-field>
        </div>
      </div>
    </form>

    <button *ngIf="this.customer !== null" color="accent" mat-raised-button (click)="editCustomer();">
      Update customer
    </button>
  </mat-dialog-content>
</div>
