@import 'src/styles/mixins.sass'
@import 'src/styles/variables.sass'
@import 'src/styles/custom_theme.sass'

.dashboard-button:hover
  cursor: pointer
  background-color: #2d508f
  animation-name: border-radius-select
  animation-duration: 0.25s
  animation-fill-mode: forwards
  transition: ease-in-out

  .button-title
    font-size: 26px
    animation-name: text-grows
    animation-duration: 0.4s
    animation-fill-mode: forwards

  .mat-icon
    animation-name: mat-icon-move
    animation-duration: 0.4s
    animation-fill-mode: forwards
    z-index: 999999

a:link
  text-decoration: none
a:visited
  text-decoration: none

.button-title
  font-size: 22px
  text-decoration: none
  color: white

@keyframes  border-radius-select
  0%
    border-radius: 10px

  25%
    border-radius: 20px

  50%
    border-radius: 30px

  75%
    border-radius: 40px

  100%
    border-radius: 50px

@keyframes mat-icon-move
  0%
    font-size: 26px
  25%
    font-size: 28px
  50%
    font-size: 30px
  75%
    font-size: 32px
  100%
    font-size: 34px

@keyframes text-grows
  0%
    font-size: 24px
  25%
    font-size: 25px
  50%
    font-size: 26px
  75%
    font-size: 27px
  100%
    font-size: 28px

.secondary-card
  background: $rsasoft-layer2-card-color
