<h2 mat-dialog-title>
  {{ "confirmation.dialog.title" | translate }} <button mat-icon-button (mat-dialog-close)="dialogRef.close(false)">
    <mat-icon>{{icons.close}}</mat-icon>
  </button>
</h2>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close (click)="dialogRef.close(true)">
    {{ "confirmation.dialog.yesButton" | translate }}
  </button>
  <button mat-raised-button (mat-dialog-close)="dialogRef.close(false)">
    {{ "confirmation.dialog.cancel" | translate }}
  </button>
</mat-dialog-actions>