<mat-card-title class="page-title" i18n> Invoices </mat-card-title>
<div class="header-activity">
  <mat-form-field appearance="fill">
    <mat-label i18n>Month and Year</mat-label>
    <input matInput [matDatepicker]="datepicker" [formControl]="date" />
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker
      #datepicker
      startView="multi-year"
      (monthSelected)="setMonthAndYear($event, datepicker)"
      panelClass="header-month-picker"
    >
    </mat-datepicker>
  </mat-form-field>
</div>
<mat-card *ngIf="allCustomers" class="card-container">
  <mat-card class="secondary-card" *ngFor="let project of allProjects">
    <mat-card-subtitle *ngIf="selectedMonth && selectedYear" i18n
      >Month: {{ selectedMonth }} - {{ selectedYear }}</mat-card-subtitle
    >
    <mat-card-title>{{ project.projectName }}</mat-card-title>
    <mat-chip-list>
      <div *ngFor="let customer of allCustomers">
        <mat-chip *ngIf="customer.id === project.customerId">{{
          customer.customerName
        }}</mat-chip>
      </div>
    </mat-chip-list>

    <mat-card-actions align="end">
      <button
        *ngIf="project.id"
        mat-raised-button
        color="accent"
        (click)="downloadInvoice(project.id)"
      >
        <mat-icon>table_chart</mat-icon>
        <mat-icon>picture_as_pdf</mat-icon>
        <mat-icon>vertical_align_bottom</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>
