@import 'src/styles/mixins.sass'
@import 'src/styles/variables.sass'
:host
  @include host-mixin

  .header-activity
    @include header-activity
    display: flex !important
  .card-container
    @include card-container

    .header-add-button
      @include header-add-button

    .header-datepicker
      @include header-datepicker

  .secondary-card
    @include secondary-card

  .mat-card-actions
    @include mat-card-actions

  .theme-add-card
    @include theme-add-card

.page-title
  @include page-title

@media (max-width: 500px)
  .header-activity
    display: flex !important
    flex-direction: column
    grid-template-columns: repeat(1, 1fr)
  .ranged-datepicker
    width: $full-width
    display: block
  .employee-select
    width: $full-width
    display: block
  .card-container
    margin-top: 70px

.calendar-day
  background: gray
