<mat-card-title class="page-title" i18n="@@reporting-page-title"
  >Reporting Page</mat-card-title
>
<div class="header-activity">
  <mat-form-field appearance="fill" *ngIf="range">
    <mat-label i18n="@@reporting-page-selectDateRange"
      >Select date range</mat-label
    >
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field *ngIf="allEmployees" appearance="fill">
    <mat-label i18n="@@reporting-page-employeeName">Employee name</mat-label>
    <mat-select [(ngModel)]="selectedItemEmployee">
      <mat-option [value]="noFilterUsers" i18n="@@reporting-page-users">
        All users
      </mat-option>
      <mat-option
        *ngFor="let employee of allEmployees"
        [value]="employee.id"
        ngDefaultControl
      >
        {{ employee.name }} - {{ employee.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card class="card-container">
  <div
    class="card-container"
    *ngIf="
      this.start?.value !== null &&
      this.end?.value !== null &&
      this.selectedItemEmployee
    "
  >
    <mat-card
      class="secondary-card"
      *ngFor="
        let activity of this.allActivities!
          | dateRange: this.start?.value._d:this.end?.value._d
          | employee: this.selectedItemEmployee
      "
    >
      <mat-card-subtitle
        >{{ activity.date }} {{ findEmployee(activity.employeeId)?.name }} -
        {{ findEmployee(activity.employeeId)?.surname }}</mat-card-subtitle
      >
      <mat-card-subtitle *ngIf="activity.projectId">
        {{ findProject(activity.projectId)?.projectName }}</mat-card-subtitle
      >
      <mat-card-title>{{ activity.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ activity.start }} - {{ activity.end }}</mat-card-subtitle
      >
      <mat-card-subtitle
        *ngIf="activity.description"
        i18n="@@reporting-page-card-activityDescription"
        >DESCRIPTION</mat-card-subtitle
      >
      <mat-card-content *ngIf="activity.description">{{
        activity.description
      }}</mat-card-content>
      <mat-card-subtitle
        *ngIf="activity.extras"
        i18n="@@reporting-page-card-activityExtras"
        >EXTRAS</mat-card-subtitle
      >
      <mat-card-content *ngIf="activity.extras">{{
        activity.extras
      }}</mat-card-content>
    </mat-card>
  </div>
</mat-card>
