<mat-nav-list>
    <a mat-list-item routerLink="{{isAdmin()?'/reporting/admin-dashboard':'/reporting/dashboard'}}"
        (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.home" | translate }}</a>
    <a mat-list-item routerLink="reporting/activity" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.activities" | translate }}</a>
    @if(isAdmin()){
    <a mat-list-item routerLink="users" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.users" | translate }}</a>
    <a mat-list-item routerLink="reporting/rate" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.rates" | translate }}</a>
    <a mat-list-item routerLink="reporting/project" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.projects"
        | translate }}</a>
    <a mat-list-item routerLink="customers" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.customers"
        | translate }}</a>
    <a mat-list-item routerLink="reporting/user-reporting" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.reporting" | translate }}
    </a>
    <a mat-list-item routerLink="reporting/invoice" (click)="closeSidenav.emit()" routerLinkActive="active">{{
        "sidenav.invoices"
        | translate }}
    </a>
    }
</mat-nav-list>