<mat-nav-list class="px-0">
  <a
    mat-list-item
    routerLink="dashboard"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    >{{ "sidenav.home" | translate }}</a
  >
  <a
    mat-list-item
    routerLink="activity"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.activities" | translate }}</a
  >
  @if(isAdmin()){
  <a
    mat-list-item
    routerLink="users"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.users" | translate }}</a
  >
  <a
    mat-list-item
    routerLink="rate"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.rates" | translate }}</a
  >
  <a
    mat-list-item
    routerLink="project"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.projects" | translate }}</a
  >
  <a
    mat-list-item
    routerLink="customers"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.customers" | translate }}</a
  >
  <a
    mat-list-item
    routerLink="reporting/user-reporting"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.reporting" | translate }}
  </a>
  <a
    mat-list-item
    routerLink="invoices"
    class="p-md-0 p-lg-1 text-md-center text-lg-start"
    (click)="closeSidenav.emit()"
    routerLinkActive="active"
    >{{ "sidenav.invoices" | translate }}
  </a>
  }
</mat-nav-list>
