<mat-card class="page-content">
  <mat-tab-group>
    <mat-tab label="User Details">
      <mat-card class="container-card" *ngIf="currentUser">
        <h2>ID: {{ currentUser.id }}</h2>
        <h2 i18n >Name: {{ currentUser.name }} {{ currentUser.surname }}</h2>
        <h2 i18n>Role: {{ currentUser.role }}</h2>
        <h2 i18n>Seniority: {{ currentUser.seniority }}</h2>
        <h2 i18n>Email: {{ currentUser.email }}</h2>
      </mat-card>
    </mat-tab>

    <mat-tab label="User Activity">
      <mat-card>
        <mat-list>
          <mat-list-item *ngFor="let activity of currentUserActivities">
            <mat-card class="activity-card">
              <mat-card-subtitle i18n> Date: {{ activity.date }} </mat-card-subtitle>
              <mat-card-subtitle i18n>
                Time: {{ activity.start }} - {{ activity.end }}
              </mat-card-subtitle>
              <br />
              <h2>{{ activity.name }}</h2>
            </mat-card>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
