.mat-card
  height: fit-content

.mat-tab-group
  margin: 0 auto
  width: 100%

.page-content
  width: 75%
  margin: 0 auto
  margin-top: 3em

.mat-list-item
  height: fit-content

.activity-card
  margin-top: 2em
  width: 100%
