@use '@angular/material' as mat
@import 'src/styles/custom_light_theme.sass'
@import 'src/styles/custom_theme.sass'
@import 'src/styles/variables.sass'
@import 'src/styles/variables-light.sass'
html, body
  margin: 0
  height: $full-height
  width: $full-width
  background: $rsasoft-background-color

.light-theme
  @include mat.all-component-themes($rsasoft-light-theme)

.dark-theme
  @include mat.all-component-themes($rsasoft-dark-theme)
  
*
  scrollbar-width: thin
  scrollbar-color: $rsasoft-layer1-card-color $rsasoft-layer2-card-color

*::-webkit-scrollbar
  width: 12px

*::-webkit-scrollbar-track
  background: $rsasoft-layer2-card-color

*::-webkit-scrollbar-thumb
  background-color: $rsasoft-layer2-card-color
  border-radius: 20px

.pointer-cursor
  cursor: pointer

.secondary-card
  background-color: $rsasoft-layer2-card-color!important

.add-entity-button
  height: 58px!important
