@use '@angular/material' as mat
@use 'src/styles/custom_light_theme.sass' as light-theme
@use 'src/styles/custom_dark_theme.sass' as dark-theme
@use 'src/styles/variables.sass' as variables

html, body
  margin: 0
  height: variables.$full-height
  width: variables.$full-width
  background: variables.$rsasoft-background-color

.light-theme
  @include mat.all-component-themes(light-theme.$rsasoft-light-theme)

.dark-theme
  @include mat.all-component-themes(dark-theme.$rsasoft-dark-theme)

*
  scrollbar-width: thin
  scrollbar-color: variables.$rsasoft-layer1-card-color variables.$rsasoft-layer2-card-color

*::-webkit-scrollbar
  width: 12px

*::-webkit-scrollbar-track
  background: variables.$rsasoft-layer2-card-color

*::-webkit-scrollbar-thumb
  background-color: variables.$rsasoft-layer2-card-color
  border-radius: 20px

.pointer-cursor
  cursor: pointer

.secondary-card
  background-color: variables.$rsasoft-layer2-card-color!important

.add-entity-button
  height: 58px!important

  
button.red span
  color: variables.$rsasoft-without-reported-hours
button.orange span
  color: variables.$rsasoft-partially-reported-day
button.green span
  color: variables.$rsasoft-fully-reported-day
z