<mat-list *ngIf="allCustomers">
  <mat-list-item *ngFor="let customer of allCustomers">
    <mat-card class="employee-card">
      <mat-card-title>
        {{ customer.customerName }}
      </mat-card-title>

      <div class="buttons">
        <button mat-mini-fab color="primary" (click)="deleteCustomer(customer.id!)">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-mini-fab color="primary" (click)="editCustomer(customer)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card>
      <button class="employee-add-card" mat-icon-button (click)="addCustomer()">
        <mat-icon>add_box</mat-icon>
      </button>
    </mat-card>
  </mat-list-item>
</mat-list>
