<mat-card *ngIf="currentActivity">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Activity Name</mat-label>
      <input
        matInput
        value="{{ currentActivity.name }}"
        [(ngModel)]="currentActivity.name"
        type="text"
        [ngModelOptions]="{ standalone: true }"
      />
       <mat-hint style="color: red" *ngIf="!currentActivity.name">
      Activity name is required
    </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Activity Date</mat-label>
      <input
        matInput
        value="{{ currentActivity.date }}"
        [(ngModel)]="currentActivity.date"
        type="text"
        [ngModelOptions]="{ standalone: true }"
      />
       <mat-hint style="color: red" *ngIf="!currentActivity.date">
      Activity date is required
    </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Activity Start</mat-label>
      <input
        matInput
        value="{{ currentActivity.start }}"
        [(ngModel)]="currentActivity.start"
        type="text"
        [ngModelOptions]="{ standalone: true }"
      />
       <mat-hint style="color: red" *ngIf="!currentActivity.start">
      Activity start time is required
    </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Activity End</mat-label>
      <input
        matInput
        value="{{ currentActivity.end }}"
        [(ngModel)]="currentActivity.end"
        type="text"
        [ngModelOptions]="{ standalone: true }"
      />
       <mat-hint style="color: red" *ngIf="!currentActivity.end">
      Activity end time is required
    </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Activity Description</mat-label>
      <input
        matInput
        value="{{ currentActivity.description }}"
        [(ngModel)]="currentActivity.description"
        type="text"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Activity Extras</mat-label>
      <input
        matInput
        value="{{ currentActivity.extras }}"
        [(ngModel)]="currentActivity.extras"
        type="text"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button mat-raised-button (click)="updateActivity()">
      Update activity
    </button>
  </mat-dialog-actions>
</mat-card>
